cache
__pycache__
.vscode
venv
test*
my_cache
gdrive_sensor/my_cache
credentials.json
gdrive_sensor/credentials.json
gdrive_sensor/old
gdrive_sensor/net/old
gdrive_sensor/net/metadata
gdrive_sensor/__pycache__
gdrive_sensor/utils/__pycache__
.env
todo.txt

rid_cache
gdrive_sensor/rid_cache
gdrive_sensor/coordinator_node_rid_cache
identity.json
gdrive_sensor/identity.json
gdrive_sensor/koi-net-protocol-openapi.json
gdrive_sensor/coordinator_node_identity.json
token.pickle
gdrive_sensor/token.pickle

hackmd_sensor/
slack_sensor/