cache
__pycache__
.vscode
venv
test*
my_cache
rid_cache
identity.json
token.pickle
*.json
credentials.json
.env
todo.md
old/

creds

gdrive_sensor/credentials.json

gdrive_sensor/coordinator_node_rid_cache
gdrive_sensor/rid_cache
gdrive_sensor/my_cache
gdrive_sensor/identity.json
gdrive_sensor/koi-net-protocol-openapi.json
gdrive_sensor/coordinator_node_identity.json
gdrive_sensor/token.pickle

gdrive_sensor/old
gdrive_sensor/net/old
gdrive_sensor/net/metadata
gdrive_sensor/__pycache__
gdrive_sensor/utils/__pycache__

net/metadata
rid_cache
identity.json
events_queue.json
node-log.txt

gdrive_sensor/subscription.py
hackmd_sensor/
slack_sensor/